@charset "utf-8";
/* CSS Document */


/* Body / HTML / Allgemeines
-------------------------------------------------------------------- */
th{
	width: 20%;
}

td{
	width: 80%;
}

.publi_table{
	width: 100%;
}

.float_right {
	float: right;
}

.hidden{
	display: none;
}


/* bootstrap
-------------------------------------------------------------------- */
.panel-heading{
	height: 5rem;
}
